body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
}

nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}


nav a {
  color: #000000; 
  text-decoration: none; 
}


nav a:hover {
  color: red; 
}
h1 {
    color: #333333;
    text-align: center;
    margin-top: 50px;
}

